<div class="item-row" id="item-row-<%=item.id%>">
	<p class="item-name"><strong><%= item.name %></strong></p>
	<p class="item-time"><small>Time left: <%= distance_of_time_in_words(Time.now, item.created_at+7.days) %></small></p>
	<%= link_to "", [item.user, item], method: :delete, class: 'item-delete glyphicon glyphicon-ok', remote: true %>
</div>