<div class="item-row" id="item-row-<%=item.id%>">
	<p class="item-name"><strong><%= item.name %></strong></p>
	<p class="item-time"><small>Created at: <%= item.created_at.strftime("%B %-d, %Y") %></small></p>
	<%= link_to "", [item.user, item], method: :delete, class: 'item-delete glyphicon glyphicon-ok', remote: true %>
</div>