// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$item_border: 1px solid #AAA;
.item-row {
	border-bottom: $item_border;
	box-sizing: border-box;
	padding: 0px 5px 0px 5px;
}
.item-list {
	&:last-child {
		border-bottom: 0px;
	}
}
.item-name {
	display: inline;
	left: 5px;
}
.item-time {
	display: inline;
	left: 20px;
}
.item-delete {
	left: 50px;
}